<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>📊 Админ-панель</h1>

    <button onclick="location.href='/parsing_stats'">📑 Статистика парсинга</button>
    <button onclick="location.href='/message_stats'">📩 Статистика ответов</button>
    <button onclick="location.href='/parse_settings'">⚙️ Настройки парсинга</button>
    <button onclick="location.href='/build_panel'">🛠 Панель сборки сообщений</button>
    <button onclick="location.href='/sender_bot_settings'">🤖 Настройка бота и запуск</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>